name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer (Updated)
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: pip3 install --user --upgrade Cython==0.29.33 virtualenv; buildozer android debug
          buildozer_version: stable
        env:
          P4A_BRANCH: release-2022.12.20

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: youtube-downloader-apk
          path: ${{ steps.buildozer.outputs.filename }}
