name: Build APK
on: [push]

jobs:
  build:
    # Используем готовый Docker-образ с Buildozer и Android SDK
    runs-on: ubuntu-latest
    container:
      image: kivy/buildozer:latest
      options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build APK in Docker
        # Внутри контейнера выполняем сборку
        run: |
          cd /github/workspace
          export P4A_BRANCH=release-2022.12.20
          buildozer android debug

      - name: Upload APK Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: youtube-downloader-apk
          path: ./bin/*.apk
