name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kivy/buildozer:latest
      options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install missing dependencies in container
        run: |
          apt-get update
          apt-get install -y python3-pip zip unzip git
          pip3 install --upgrade Cython==0.29.33

      - name: Build APK in Docker (Auto-accept root warning)
        run: |
          cd /home/user/hostcwd
          export P4A_BRANCH=release-2022.12.20
          # Автоматически отвечаем 'y' на предупреждение о работе от root
          echo "y" | buildozer android debug

      - name: Upload APK Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: youtube-downloader-apk
          path: /home/user/hostcwd/bin/*.apk
