name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install System Dependencies for Ubuntu 24.04
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
          git zip unzip \
          openjdk-17-jdk \
          python3-pip python3-venv \
          autoconf libtool pkg-config \
          zlib1g-dev libncurses-dev cmake libffi-dev libssl-dev \ # `libtinfo5` заменён на `libncurses-dev`
          libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev

      - name: Install Buildozer and Cython
        run: |
          pip3 install --upgrade Cython==0.29.33 virtualenv setuptools wheel
          pip3 install buildozer

      - name: Build APK with Buildozer (THIS WILL TAKE 30-60 MIN)
        run: |
          export P4A_BRANCH=release-2022.12.20
          buildozer android debug
        env:
          # Критически важно для работы с Android SDK в среде CI
          ANDROID_SDK_ROOT: /home/runner/.buildozer/android/platform/android-sdk
          ANDROID_HOME: /home/runner/.buildozer/android/platform/android-sdk

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: youtube-downloader-apk
          path: ./bin/*.apk
