name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install System Dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
            git zip unzip \
            openjdk-11-jdk-headless \
            python3-pip python3-venv \
            autoconf libtool pkg-config \
            zlib1g-dev libncurses-dev cmake libffi-dev libssl-dev \
            libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev

      - name: Install Buildozer and Cython
        run: |
          pip3 install --upgrade Cython==0.29.33 virtualenv setuptools wheel
          pip3 install buildozer

      - name: Build APK with Buildozer
        run: |
          export P4A_BRANCH=release-2022.12.20
          export ANDROID_SDK_ROOT="/home/runner/.buildozer/android/platform/android-sdk"
          export ANDROID_HOME="$ANDROID_SDK_ROOT"
          # Настройка для автоматического принятия лицензий
          mkdir -p ~/.android
          echo "### AUTOMATICALLY ACCEPT ANDROID SDK LICENSES ###" > ~/.android/licenses.cfg
          echo "8933bad161af4178b1185d1a37fbf41ea5269c55" >> ~/.android/licenses.cfg
          echo "d56f5187479451eabf01fb78af6dfcb131a6481e" >> ~/.android/licenses.cfg
          buildozer android debug

      - name: Upload APK Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: youtube-downloader-apk
          path: ./bin/*.apk
