name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Build APK with Buildozer
        uses: digreatbrian/buildozer-action@v2
        with:
          buildozer-cmd: buildozer -v android debug
          # Если buildozer.spec не в корне, укажи: work-dir: src

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: youtube-downloader-apk
          path: bin/*.apk
